# Environnements virtuels
.venv/
venv/
env/

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de configuration IDE
.vscode/
.idea/

# Fichiers de log
*.log

# Base de données locales
*.sqlite
*.db

# Fichiers de configuration locaux
.env

# Secrets et fichiers sensibles
*.env
.env
*.secret
secrets.json

# Fichiers de configuration spécifiques à l'utilisateur
config_local.py
local_settings.py

# Fichiers de système
.DS_Store
Thumbs.db

# Fichiers de build et de distribution
build/
dist/
*.egg-info/

# Fichiers de backup
*.bak
*.swp
*~
